<%- include('includes/head.ejs') %>

<div class="columns">
<% let i = 1 %>
<% for (i in productos) { %>
<%      if (i % 3 == 0){ %>
            </div>
            <div class="columns">
<%      } %>      

        <div class="column is-one-third">
            <div class="card has-background-info-light">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="<%= productos[i].url %>" alt="Xbox">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4" id="name_<%= i %>"><%= productos[i].nombre %></p>
                            <p class="subtitle is-6">$<span id="price_<%= i %>"><%= productos[i].precio %></span></p>
                        </div>
                    </div>
                    <div class="content">
                        <p>Lo que tienes que saber de este producto:</p>
                        <p><%= productos[i].descripcion %></p>
                        <p class="subtitle is-4">Cantidad</p>
                        <div class="columns">
                            <div class="column is-one-fifth">
                                <button class="button is-small is-dark" id="sum_button_<%= i %>">+</button>
                            </div>
                            <div class="column is-one-fifth">
                                <button class="button is-small is-dark" id="substract_button_<%= i %>">-</button>
                            </div>
                            <div class="column">
                                <p class="is-size-6 quantity" id="quantity_<%= i %>"><%= productos[i].cantidad %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
<%  } %>

<%- include('includes/foot.ejs') %>